{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if particle.git_repo_tree_url is not empty %}
  {% if not grav.page.header.hide_git_repo_link and (not (grav.page.slug in grav.config.site.hide_git_repo_link_pages)) %}
    {% if grav.page.header.git_repo_link_url %}
      {% set git_repo_link_url = grav.page.header.git_repo_link_url %}
    {% else %}
      {% set git_repo_link_url = particle.git_repo_tree_url ~ ('/'~grav.page.filePathClean)|replace({'/user/':'/'}) %}
    {% endif %}
    {% if grav.page.header.git_repo_link_text %}
      {% set git_repo_link_text = grav.page.header.git_repo_link_text %}
    {% else %}
      {% set git_repo_link_text = particle.git_repo_link_text %}
    {% endif %}
    <div class="view_edit_page_in_git {{ particle.css.class }}">
      <a href="{{ git_repo_link_url }}" title="{{ git_repo_link_text }}" target="_blank">
        {% if particle.git_repo_link_icon %}
          <i class="fa fa-{{ particle.git_repo_link_icon }}" aria-hidden="true"></i>
        {% endif %}
        {{ git_repo_link_text }}</a>
    </div>
  {% endif %}
{% else %}
  {% if not grav.page.header.hide_git_repo_link and (not (grav.page.slug in grav.config.site.hide_git_repo_link_pages)) %}
    <div class="view_edit_page_in_git {{ particle.css.class }}">
    {% if not config.plugins['git-sync'].enabled  %}
      {% set admin_panel_appearance_url = grav.base_url ~ '/admin/plugins/' %}
      <a href="{{ admin_panel_appearance_url }}" title="Add/Setup Git Sync Plugin (Step 1 of 2)">
      <i class="fa fa-cog" aria-hidden="true"></i> Add/Setup Git Sync Plugin (Step 1 of 2)</a>
    {% else %}
      {% if config.plugins['git-sync'].enabled and config.plugins['git-sync'].repository is empty %}
        {% set admin_panel_appearance_url = grav.base_url ~ '/admin/plugins/git-sync' %}
        <a href="{{ admin_panel_appearance_url }}" title="Setup Git Sync Plugin (Step 1 of 2)">
        <i class="fa fa-cog" aria-hidden="true"></i> Setup Git Sync Plugin (Step 1 of 2)</a>
      {% else %}
        {% set admin_panel_appearance_url = grav.base_url ~ '/admin/gantry/configurations/default/layout' %}
        <a href="{{ admin_panel_appearance_url }}" title="Setup Edit Page in Git Link (Step 2 of 2)">
        <i class="fa fa-cog" aria-hidden="true"></i> Setup Edit Page in Git Link (Step 2 of 2)</a>
      {% endif %}
    {% endif %}
    </div>
  {% endif %}
{% endif %}
{% endblock %}
