{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="view_git_sync_repo {{ particle.css.class }}">
{% if config.plugins['git-sync'].enabled and config.plugins['git-sync'].repository is not empty %}
  {% if particle.custom_git_sync_repo_link is empty %}
    {% set git_sync_repo = config.plugins['git-sync'].repository %}
    {% set git_sync_repo_link = (git_sync_repo|replace({'.git':'/'})) %}
  {% else %}
    {% set git_sync_repo_link = particle.custom_git_sync_repo_link %}
  {% endif %}
  {% if 'github' in git_sync_repo_link %}
    {% set git_repo_link_icon = "github" %}
  {% elseif 'gitlab' in git_sync_repo_link %}
    {% set git_repo_link_icon = "gitlab" %}
  {% elseif 'bitbucket' in git_sync_repo_link %}
    {% set git_repo_link_icon = "bitbucket" %}
  {% else %}
    {% set git_repo_link_icon = "git" %}
  {% endif %}
  <a href="{{ git_sync_repo_link }}" title="View Repository" target="_blank">
  <i class="fa fa-{{ git_repo_link_icon }}" aria-hidden="true"></i> View Repository</a>
{% else %}
    {% if not config.plugins['git-sync'].enabled  %}
      {% set admin_panel_appearance_url = grav.base_url ~ '/admin/plugins/' %}
      <a href="{{ admin_panel_appearance_url }}" title="Add/Setup Git Sync Plugin">
      <i class="fa fa-cog" aria-hidden="true"></i> Add/Setup Git Sync Plugin</a>
    {% else %}
      {% set admin_panel_appearance_url = grav.base_url ~ '/admin/plugins/git-sync' %}
      <a href="{{ admin_panel_appearance_url }}" title="Setup Git Sync Plugin">
      <i class="fa fa-cog" aria-hidden="true"></i> Setup Git Sync Plugin</a>
	{% endif %}
{% endif %}
</div>
{% endblock %}
